<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      
      <% @topics.find_each do |topic| %>
        <div class="col-auto responsive_width">
          <div class="card" style="width: 18rem;">
            <%= image_tag(topic.image.url, :class => "image card-image-top", :style => "width: 100%; height: 180px") %>
            <div class="card-body">
              <h3 class="topic-author">
                投稿主：<%= topic.user.name %>
              </h3>
                
              <p class="topic-text">
                [概要]:<%= topic.description %>
              </p>
              
              <span id="favorite_<%= topic.id %>">
                <%= render partial: 'favorites/favorite', locals: { topic: topic} %>
              </span>
              
              <%= link_to comments_path(topic_id: topic.id) do %>
                <i class="far fa-comment-dots"></i>
              <% end %>
              
              <div>
                <p class="topic-text">
                <span class="btn topic_category" style="pointer-events:none;"><%= topic.topic_category&.name %></span>
                </p>
              </div>
              
              <div>
                <%= link_to '詳細', edit_topic_path(topic), class: "btn btn-primary" %>
              </div>
              
              
              <!--<h4>[コメント]</h4>-->
              <!--<% topic.comments.each do |comment| %>-->
              <!--  <p class= "topic-text"><%= comment.content %></p>-->
              <!--<% end %>-->
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="row">
      <div class="mx-auto paginate" style="width: 200px;">
        <%= paginate @topics %>
      </div>
    </div>

  </div>
</div>