<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "HIMATUBUSI", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <%= form_tag(root_path, method: :get, class: "navbar-form navbar-left form-inline") do %>
      <div class="form-group">
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "検索" %>
      </div>
    <% end %>
    
    <ul class="nav navbar-nav navbar-right">
      <% unless user_signed_in? %>
      <li class="inline-block navbar-right">
          <%= link_to "ログイン", user_session_path, method: :post %>
      </li>
      <% else %>
        <li class="inline-block">
          <%= link_to "投稿", new_topic_path %>
        </li>
        <li class="inline-block navbar-right">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% end %>
    </ul>
    
  </div>
</nav>