<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top navbar-transparent">
    <div class="container">
      <%= link_to root_path do %>
        <span><%= link_to "HIMATUBUSI", root_path, class: "nav-link" %></span>
      <% end %>
      
      <%= form_with url: pages_index_path do |form| %>
        <%= form.text_field :description %>
        <%= form.submit %>
      <% end %>
      
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_topic_path, class: "nav-link listNew" do %>
          <i class="fas fa-paper-plane"></i>
          <% end %>
        </li>
        <li>
          <%= link_to user_session_path, method: :post, class: "nav-link listNew" do %>
          <i class="fas fa-sign-in-alt"></i>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link listDestroy" do %>
          <i class="fas fa-sign-out-alt"></i>
          <% end %>
        </li>
      </ul>
      
    </div>
  </nav>
</header>